<ion-content>

  <ion-grid style="text-align: center;" fixed *ngIf="clase" class="clase-content">
    <ion-row>
      <ion-col size="5">sede</ion-col>
      <ion-col size="7">{{ clase.sede }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">id de Asignatura</ion-col>
      <ion-col size="7">{{ clase.idAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">seccion</ion-col>
      <ion-col size="7">{{ clase.seccion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">nombre de la Asignatura</ion-col>
      <ion-col size="7">{{ clase.nombreAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">nombre del Profesor</ion-col>
      <ion-col size="7">{{ clase.nombreProfesor }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">dia</ion-col>
      <ion-col size="7">{{ clase.dia }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">bloque de Inicio</ion-col>
      <ion-col size="7">{{ clase.bloqueInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">bloque de Termino</ion-col>
      <ion-col size="7">{{ clase.bloqueTermino }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">hora de Inicio</ion-col>
      <ion-col size="7">{{ clase.horaInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">hora Fin</ion-col>
      <ion-col size="7">{{ clase.horaFin }}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!clase" class="center-frame">
    debes escanear un QR de tu clase

  </div>

</ion-content>